body {
	padding: 20px;
}

.item {
	position: absolute;
	top: 50px;
	border: 1px solid black;
	/* left: 20px: */
	/* &: nth-child(n){
        
    } */
}

.item-text {
	font-size: 20px;
}

.active {
	color: red;
}
